<div class="easyui-panel" data-options="fit:true,border:false,onResize:function(){$('#index-main-portal').portal({border:false,fit:true});}">
	<div id="index-main-portal">
		<div style="width:50%">
			<div title="我的个人信息" collapsible="true" style="padding:8px;line-height:1.8;height: 132px;">
				您好，<{$userInfo.username}><br />
				所属角色：<{$userInfo.rolename}> <br />
				最后登录时间：<if condition="$userInfo['lastlogintime'] gt 0"><{$userInfo.lastlogintime|date='Y-m-d H:i:s',###}></if><br />
				最后登录IP：<{$userInfo.lastloginip}> <br />
			</div>

			<div title="近期登录" collapsible="true" style="padding:8px;line-height:1.8">
				<foreach name="loginList" item="log">
					[<{$log.time}>] 登录IP：<{$log.ip}><br/>
				</foreach>
			</div>

		</div>

		<div style="width:50%">



	</div>

</div>