<form>
    <table cellspacing="5" width="100%">
        <tr>
            <td width="80">消息类别：</td>
            <td><input class="easyui-combotree" data-options="
			    url:'<{:U('Category/public_categoryTree')}>'
			    ,queryParams:{type:1}
			    " type="text" name="info[catid]" style="width:230px;height:24px" /></td>
        </tr>
        <tr>
            <td width="90">名称：</td>
            <td><input class="easyui-validatebox" data-options="required:true" type="text" name="info[name]" style="width:220px" /></td>
        </tr>
        <tr>
            <td>内容：</td>
            <td><textarea class="easyui-validatebox" data-options="required:true,validType:{length:[0,500]}" name="info[content]" style="width:220px;height:60px;font-size:12px"></textarea></td>
        </tr>
    </table>
</form>