<form>
	<table cellspacing="5" width="100%">
        <tr>
        <td width="80">消息类别：</td>
        <td><input class="easyui-combotree" data-options="
			    url:'<{:U('Category/public_categoryTree')}>'
			    ,queryParams:{type:1}
			    " type="text" name="info[cat_id]" value="<{$info.cat_id}>" style="width:230px;height:24px" /></td>
    </tr>
		<tr>
			<td width="90">名称：</td>
			<td><input class="easyui-validatebox" data-options="required:true" value="<{$info.name}>" type="text" name="info[title]" style="width:220px" /></td>
		</tr>
		<tr>
			<td>内容：</td>
			<td><textarea class="easyui-validatebox" data-options="required:true,validType:{length:[0,500]}" name="info[content]" style="width:220px;height:60px;font-size:12px"><{$info.msg_text.content}></textarea></td>
		</tr>
	</table>
</form>