<form style="padding: 5px">
    <table id="msgBagMsgTable" class="easyui-datagrid">

    </table>
    <table cellspacing="5" width="100%">
        <tr>
            <td width="90">名称：</td>
            <td><input class="easyui-validatebox" data-options="required:true" type="text" name="info[name]" style="width:220px" /></td>
        </tr>
        <tr>
            <td>备注：</td>
            <td><textarea class="easyui-validatebox" name="info[content]" style="width:220px;height:60px;font-size:12px"></textarea></td>
        </tr>
    </table>
</form>
<script type="application/javascript">
    var msgBagAdd = {
        editRow:undefined,
        datagrid:'#msgBagMsgTable',
        isEditing: function () {
            return this.editRow != undefined;
        },
        defaultMsgType:'text',
        init:function(){
            var that = this;
            $(that.datagrid).datagrid({
                fit:true,
                fitColumns:true,
                rownumbers:true,
               toolbar:[
                   {
                       text:'添加消息',
                       iconCls:'icon-add',
                       handler:function(){
//                           if(that.isEditing()){//正在编辑
////                               $.app.method.tip('提示信息', '有正在编辑的行', 'error');
//                               $(that.datagrid).datagrid('acceptChanges');
//                               return;
//                           }
                           $(that.datagrid).datagrid('appendRow',{
                               msg_type:that.defaultMsgType,
                               interval:'00:00'
                           });
                           var rows = $(that.datagrid).datagrid('getRows');
                           that.editRow = rows.length-1;
                           $(that.datagrid).datagrid('beginEdit',that.editRow);
                       }
                   },
                   {
                       text:'保存',
                       iconCls:'icon-save',
                       handler:function(){
                           var t = $(that.datagrid).datagrid('acceptChanges');
                           console.log(t);
                       }
                   },
                   {
                       text:'移除',
                       iconCls:'icon-remove',
                       handler:function(){alert('add')}
                   }
               ],
                onSelect:function(index,row){

                },
                columns:[[
                    {
                        field : 'msg_type',
                        title : '消息类型',
                        width:'8%',
                        editor:{
                            type:'combobox',
                            options:{
                                editable:false,
                                valueField:'msg_type',
                                textField:'msg_name',
                                required:true,
                                data:[{msg_type:'text',msg_name:'文本'},{msg_type:'image',msg_name:'图片'},{msg_type:'news',msg_name:'图文'}],
                                onSelect : function (record){
                                    var theIndex = $(msgBagAdd.datagrid).datagrid('getRows').length;
                                    var ed = $(msgBagAdd.datagrid).datagrid('getEditor',{
                                        index:theIndex-1,
                                        field:'msg_id'
                                    });
                                    //更换搜索词重新加载
                                    $(ed.target).combogrid({
                                        queryParams:{
                                            search:{
                                                msg_type:record.msg_type
                                            }
                                        }
                                    });
                                }
                            }
                        }
                    },
                    {field:'msg_id',width:'30%',title:'消息',editor:{
                        type:'combogrid',
                        options:{
                            required:true,
                            panelWidth : 700,
                            panelHeight:308,
                            pagination : true,// 是否分页
                            pageSize:10,
                            idField : 'id',
                            textField : 'name',
                            rownumbers:true,
                            hasDownArrow:true,
                            url:"<{:U('Message/index')}>",
                            onBeforeLoad:function(){

                            },
                            queryParams:{
                                search:{
                                    msg_type:that.defaultMsgType
                                }
                            },
//                            disabled:true,//初始不可编辑，选择消息类型后开启
                            onSelect : function (index,row){
                                console.log(index);
                                console.log(row);
                            },
                            columns:[[
                                {
                                    field : 'name',
                                    title : '消息名称',
                                    width:'60%'
                                },
                                {
                                    field : 'msg_type',
                                    title : '消息类型',
                                    width:'15%',
                                    formatter:function(value,row,index){
                                        switch (row.msg_type){
                                            case 'news':
                                                return '图文';
                                            case 'text':
                                                return '文本';
                                            case 'image':
                                                return '图片';
                                        }
                                    }
                                },
                                {
                                    field:'opt_id',
                                    title:' ',
                                    width:'15%'
                                }
                            ]]
                        }
                    }},
                    {field:'interval',width:'8%',title:'间隔时间',editor:{
                        type:'timespinner',
                        options:{

                        }
                    }}
                ]]
            });

        }
    };
    msgBagAdd.init();
</script>