<div class="easyui-layout" style="height: 100%;width: 100%">
    <div data-options="region:'north'" style="height: 34px">
        <form style="margin: 3px">
            消息包名称:
            <input type="text" name="search[name]" style="width:200px;"/>
            <a href="javascript:;" onclick="msgBagListModule.search(this)" class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜索</a>
        </form>
    </div>
    <div data-options="region:'west',split:true,title:'消息包分类'" style="width:200px;">
        <ul id="msgBagTree"></ul>
    </div>
    <div data-options="region:'center'">
        <div id="msgbag-datagrid-toolbar" style="padding:1px;height:auto">
            <div>
                <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" onclick="msgBagListModule.add()">添加消息包</a>
                <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'" onclick="msgBagListModule.delete()">批量删除</a>
                <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'" onclick="msgBagListModule.refresh()">刷新</a>
            </div>
        </div>
        <div id="msgBagListModule"></div>
    </div>
</div>





<script type="application/javascript">
    var msgBagListModule = {
        datagrid : '#msgBagListModule',
        dialog:   '#globel-dialog-div',
        addAction:"<{:U('MessageBag/add')}>",
        listAction:"<{:U('MessageBag/index')}>",
        editAction:"<{:U('MessageBag/edit')}>",
        deleteAction:"<{:U('MessageBag/delete')}>",
        catType:2,//消息类别
        tree:'#msgBagTree',
        tab:'#pagetabs',
        load : function(){
            var that = this;
            $(that.tree).tree({
                url:"<{:U('Category/public_categoryTree')}>",
                queryParams:{type:that.catType},
                onClick:function(node){
                    that.loadByCatId(node.id);
                }
            });
            $(this.datagrid).datagrid({
                toolbar:"#msgbag-datagrid-toolbar",
                url:that.listAction,
                fitColumns:true,
                fit:true,
                pagination:true,
                rownumbers:true,
                pageSize:20,
                pageList:[20,40,60,100],
                columns:[[
                    {field:'msg_bag_id',checkbox:true},
                    {field:'name',width:50,title:'名称',sortable:true},
                    {field:'catname',width:20,title:'分类'},
                    {field:'remarks',width:50,title:'备注',sortable:true},
                    {field:'create_time',title:'录入时间',width:22,sortable:true,formatter:function(value,row,index){
                        return msgBagListModule.time(row.create_time);
                    }},
                    {field:'opt_id',width:30,title:'操作',formatter:msgBagListModule.operate}
                ]]
            });
        },
        time: function(nS){
            return new Date(parseInt(nS) * 1000).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ").replace(/上午|下午/g, "");
        },
        //刷新
        refresh: function(){
            $(this.datagrid).datagrid({
                queryParams:{}
            });
        },
        loadByCatId:function(catId){
            var that = this;
            $(this.datagrid).datagrid({
                queryParams:{
                    cat:{
                        type:that.catType,
                        catid:catId
                    }
                }
            });
        },
        //搜索
        search: function(that){
            var queryParams = $(this.datagrid).datagrid('options').queryParams;
            $.each($(that).parent('form').serializeArray(), function() {
                queryParams[this['name']] = this['value'];
            });
            $(this.datagrid).datagrid({pageNumber: 1});
        },
        //操作格式化
        operate: function(val){
            var btn = [];
            btn.push('<a href="javascript:;" onclick="msgBagListModule.edit('+val+')">编辑</a>');
            btn.push('<a href="javascript:;" onclick="msgBagListModule.delete('+val+')">删除</a>');
            return btn.join(' | ');
        },
        //批量删除
        delete: function(id){
            var rows = $(this.datagrid).datagrid('getSelections');
            if(!id && rows.length==0){//多选情况下
                $.app.method.tip('提示信息', '请选择要删除的行', 'error');
                return;
            }
            var that = this;
            $.messager.confirm('提示信息', '确定要删除吗？', function(result){
                if(!result) return false;
                var ids = [];
                if(!id){
                    rows.forEach(function(row){
                        ids.push(row.msg_bag_id);
                    });
                }else{
                    ids.push(id);
                }
                // console.log(ids);return;
                $.messager.progress({text:'处理中，请稍候...'});
                $.post(that.deleteAction,{"ids":ids},function(res){
                    $.messager.progress('close');
                    if(res.cannotDel.length > 0){//存在不能删除的
                        var arr = new Array();
                        arr.push('<ul style="padding-left: 50px">');
                        $.each(res.cannotDel,function(index,val){
                            arr.push('<li>'+val['msg_bag_name']+'被'+'消息池'+val['msg_pool_name']+'使用</li>');
                        });
                        arr.push('</ul>');
                        arr.push('<p style="padding-left: 40px;font-weight: bold">这些消息包不能删除！</p>');
                        $.messager.alert('删除提示',arr.join(''),'info');
                    }else{
                        $.app.method.tip('提示信息', '删除成功', 'info');
                    }
                    that.refresh();
                }, 'json');
            });
        },
        add:function(){
            var that = this;
            $(that.tab).tabs('add',{
                title: '添加消息包',
                closable:true,
                href: that.addAction
            });
        },
        //编辑
        edit: function(id){
            var that = this;
            var href = "<{:U('MessageBag/edit')}>";
            href += href.indexOf('?') != -1 ? '&id='+id : '?id='+id;
            $(that.tab).tabs('add',{
                title: '编辑消息包',
                closable:true,
                href: href
            });
        }
    };
msgBagListModule.load();
</script>