@CHARSET "UTF-8";
body{margin:0; padding:0;background:none;font-size:13px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
a{color:#08c;text-decoration:none}
a:hover,a:focus{color:#005580;text-decoration:underline}
a:focus,a:hover,a:active {outline: 0;}
.word-wrap{word-wrap: break-word;word-break: break-all;}
.messager-body{word-wrap: break-word;word-break: break-all;}
.datagrid-row-selected a{color:#000} /* 解决列表选中部分a标签看不见问题 */
.panel input,.panel form{font-size:12px} /* 表单中字体问题 */
.border{border: 1px solid #95b8e7}
.l-btn{
      border-radius: 5px;
      -webkit-border-radius: 5px;
  }

/* 表单样式 */
form{font-size:12px}
textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"]{background-color: #ffffff;border: 1px solid #95b8e7;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;display:inline-block;padding: 4px;}
input[type="radio"],input[type="checkbox"] {margin: 4px 0 0;margin-top: 1px \9;*margin-top: 0;line-height: normal;}
input[type="file"],input[type="image"],input[type="submit"],input[type="reset"],input[type="button"],input[type="radio"],input[type="checkbox"] {width: auto;}
.datagrid-header-check input[type="checkbox"],.datagrid-cell-check input[type="checkbox"]{margin:0;padding:0;!important;}

/* 首页样式 */
#toparea{background-image:linear-gradient(to bottom, #F2F5FF, #E4EEFF);background-repeat: repeat-x;border:0;padding:0;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2F5FF',endColorstr='#FFE4EEFF',GradientType=0)}
#topmenu{display:inline;background:none;}
#topmenu .logo{
    display:block;
    float:left;
    text-decoration:none;
    cursor:default;
}
#topmenu .logo img{
    width: 35px;
    height: 35px;
    float: left;
    margin-top: 2px;
}
#topmenu .logo span{
    font-weight: 200;
    font-size:20px;
    color:white  ;
    line-height: 39px;

}
#topmenu .nav{float:right;margin:0;padding:0;list-style:none;margin-right: 20px}
#topmenu .nav li{float:left;margin:0;padding:0}
#topmenu .nav li a{color:white;padding:13px 15px;text-decoration:none;display: block;}
#topmenu .nav li a.focus{background-color:#0482BA;box-shadow:0 3px 8px rgba(0, 0, 0, 0.125) inset;color:#ffffff;text-decoration:none;}
#topmenu .nav-right{margin:8px 5px 0;padding:0;list-style:none;float:right}
#topmenu .nav-right li{float:left;margin:0 5px;padding:0;}
#toparea .nav-right li a span{color: #ffffff}

#pagetabs .datagrid .panel-header{
    background: none;
    border-bottom: 1px solid #ddd;
}
#pagetabs .datagrid .panel-header .panel-title{
    color: #555;
    font-weight: thin;
}
#toparea > .panel{
    background-color:#0593D3;
}

#leftmenu .tree li div.tree-node{
    padding:3px 0;
}
p.footer{
    height: 28px;
    margin: 0;
    line-height: 28px;
    text-align: center;
    background-color: #daeef5;
    color: #666;
}
.e-icon{padding-top:3px;}

#leftarea .accordion .accordion-header-selected {
    background-color: #daeef5;
}
#leftarea .accordion .accordion-header-selected .panel-title {
    color: #555;
}
