<style type="text/css">
    .news-left{
        float: left;
        width: 550px;
    }
    .news-right{
        float: left;
        margin-left: 10px;
    }
</style>
<div class="easyui-panel" data-options="footer:'#pageFooter',fit:true}" style="padding: 10px">
    <div class="news-left">

        <div id="newsItemTable">

        </div>
    </div>
    <div class="news-right">
        <form class="verticle-from" id="msgNewsAddForm">
            <input type="hidden" name="info[item_ids]"/>
            <tr>
                <td width="90">名称：</td>
                <td><input class="easyui-validatebox" data-options="required:true" type="text" name="info[name]" style="width:220px" /></td>
            </tr>
        </form>
    </div>
</div>
<div id="pageFooter" style="padding: 5px;text-align: right">
    <a href="javascript:" class="easyui-linkbutton btn-save" iconCls="icon-save" onclick="msgNewsAdd.save()">保存</a>
    <a href="javascript:" class="easyui-linkbutton btn-cancel" iconCls="icon-no" onclick="msgNewsAdd.cancel()">取消</a>
</div>
<script type="application/javascript">
    var msgNewsAdd = {
        newsItemTable:'#newsItemTable',
        addAction:"<{:U('MessageNews/itemadd')}>",
        dialog:   '#globel-dialog-div',
        init:function(){
            $(this.newsItemTable).datagrid({
                title:'单图文列表',
                url:"<{:U('MessageNews/itemList')}>",
                fitColumns:true,
//                fit:true,
                singleSelect:true,
                pagination:true,
                pageSize:10,
                pageList:[10,20,40,100],
                columns:[[
//                    {field:'news_item_id',checkbox:true},
                    {field:'title',width:30,title:'标题',sortable:true},
                    {field:'cover',title:'封面',width:15,sortable:true,formatter:function(value,row,index){
                        return '';
                    }},
                    {field:'opt_id',width:15,title:'操作',formatter:msgNewsAdd.operate}
                ]],
                toolbar:[
                    {
                        text:'添加',
                        iconCls:'icon-add',
                        handler:function(){
                            msgNewsAdd.add();
                        }
                    },
                    {
                        text:'刷新',
                        iconCls:'icon-reload',
                        handler:function(){alert('add')}
                    }
                ]
            });
        },
        operate: function(val){
            var btn = [];
            btn.push('<a href="javascript:;" onclick="msgNewsListModule.edit('+val+')">编辑</a>');
            btn.push('<a href="javascript:;" onclick="msgNewsListModule.delete('+val+')">删除</a>');
            btn.push('<a href="javascript:;" onclick="msgNewsListModule.delete('+val+')">选择</a>');
            return btn.join(' | ');
        },
        //添加
        add: function(){
            var that = this;
            $(that.dialog).dialog({
                title: '添加图文消息',
                width: 900,
                height: 600,
                cache: false,
                href: that.addAction,
                modal: true,
                collapsible: false,
                minimizable: false,
                resizable: false,
                maximizable: false,
                buttons:[{
                    text:'确定',
                    iconCls:'icon-ok',
                    handler: function(){
                        $(that.dialog).find('form').eq(0).form('submit', {
                            onSubmit: function(){
                                var isValid = $(this).form('validate');
                                if (!isValid) return false;

                                $.messager.progress({text:'处理中，请稍候...'});

                                for( instance in CKEDITOR.instances ){ CKEDITOR.instances[instance].updateElement(); }//ajax提交表单触发ckeditor替换
                                $.post('<{:U('MessageNews/add')}>', $(this).serialize(), function(res){
                                    $.messager.progress('close');

                                    if(!res.status){
                                        $.app.method.tip('提示信息', res.info, 'error');
                                    }else{
                                        $.app.method.tip('提示信息', res.info, 'info');
                                        $(that.dialog).dialog('close');
                                        that.refresh();
                                    }
                                }, 'json');

                                return false;
                            }
                        });
                    }
                },{
                    text:'取消',
                    iconCls:'icon-no',
                    handler: function(){
                        $(that.dialog).dialog('close');
                    }
                }]
            });
        },
        closeTab:function(){
            var currentTab = $('#pagetabs').tabs('getSelected');
            var index = $('#pagetabs').tabs('getTabIndex',currentTab);
            $('#pagetabs').tabs('close',index);
        },
        save:function(){
            var that = this;
            $(this.form).form('submit', {
                onSubmit: function(){
                    var isValid = $(this).form('validate');
                    if (!isValid) return false;

                    $.messager.progress({text:'处理中，请稍候...'});

                    for( instance in CKEDITOR.instances ){ CKEDITOR.instances[instance].updateElement(); }//ajax提交表单触发ckeditor替换
                    $.post('<{:U('MessageNews/add')}>', $(this).serialize(), function(res){
                        $.messager.progress('close');
                        if(!res.status){
                            $.app.method.tip('提示信息', res.info, 'error');
                        }else{
                            $.app.method.tip('提示信息', res.info, 'info');
                            that.closeTab();
                            msgNewsListModule.refresh();
                        }
                    }, 'json');
                    return false;
                }
            });
        },
        cancel:function(){
            this.closeTab();
        }
    };
    msgNewsAdd.init();
</script>