<style type="text/css">
    .news-left{
        float: left;
        width: 550px;
    }
    .news-right{
        float: left;
        margin-left: 10px;
    }
    /* 多图文预览 */
    ol,ul{
        list-style-type: none;
    }
    .weixin-muti-preview{padding: 0; width:320px; margin:0 auto; border:1px solid #ccc; background-color:#fff; box-shadow:0 0 2px #ddd; border-radius:10px;}
    .weixin-muti-preview li{ border-bottom:1px solid #ccc; padding:10px; list-style:none; height:60px; position:relative; z-index:10;}
    .weixin-muti-preview p{ height:60px; line-height:30px; padding:0 70px 0 0;overflow:hidden;}
    .weixin-muti-preview img{ width:60px; height:60px;position:absolute; top:10px; right:10px;}
    .weixin-muti-preview .del{ position:absolute; left:0; bottom:0; right:0; top:0; background-color:RGBA(0,0,0,.2); text-align:center; line-height:80px; z-index:1001; color:#C00; display:none}
    .weixin-muti-preview li:first-child{ height:150px;}
    .weixin-muti-preview li:first-child p{ position:absolute; bottom:0; left:0; right:0; z-index:1000; background-color:RGBA(0,0,0,.6); color:#fff; line-height:30px; height:30px; margin:0 10px 10px 10px; padding:0 5px; white-space:nowrap; overflow:hidden;}
    .weixin-muti-preview li:first-child img{ width:300px; height:150px;}
    .weixin-muti-preview li:first-child .del{ line-height:160px;}
    .weixin-muti-preview .hover-area{
        position: absolute;
        background: RGBA(0,0,0,.4);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        line-height: 80px;
        display: none;
    }

    .weixin-muti-preview .hover-area a{
        color: #ffffff;
        font-size: 16px;
        border: 1px solid #ffffff;
        padding: 5px;
        text-decoration: none;
    }
    .weixin-muti-preview .hover-area a:hover{
        background: #ffffff;
        color: #000000;
    }
    .weixin-muti-preview li:first-child .hover-area{
        border-radius: 5px 5px 0 0;
        line-height: 170px;
    }
    .weixin-muti-preview li:last-child .hover-area{
        border-radius: 0 0 5px 5px;
    }
</style>
<div class="easyui-panel" data-options="{footer:'#msgnews-edit-tab-tools',fit:true}" style="padding: 10px">
    <div class="news-left">

        <div id="newsItemTable">

        </div>
    </div>
    <div class="news-right">
        <form class="verticle-from" id="msgNewsEditForm">
            <input type="hidden" name="info[id]" value="<{$info.id}>">
            <input type="hidden" name="info[item_ids]" value="<{$info.msg_news.item_ids}>"/>
            <h3>
                消息名称：
            </h3>
            <input class="easyui-validatebox" value="<{$info.name}>" data-options="required:true" type="text" name="info[name]" style="width:312px" />
        </form>
        <h3>多图文消息预览：</h3>
        <div id="msgNewsPreview"></div>
    </div>
</div>
<div id="msgnews-edit-tab-tools" style="padding: 5px;text-align: right">
    <a href="javascript:" class="easyui-linkbutton btn-save" iconCls="icon-save" onclick="msgNewsEdit.save(<{$info.id}>)">保存</a>
    <a href="javascript:" class="easyui-linkbutton btn-cancel" iconCls="icon-no" onclick="msgNewsEdit.cancel()">取消</a>
</div>
<script type="application/javascript">
    function MsgNewsPreview(cid) {
        var $c = $('#'+cid);
        var ids = new Array();
        var $ul = $('<ul></ul>')
                .addClass('weixin-muti-preview');
        $c.append($ul);

        this.addItem = function(row){
            //判断是否存在
            if($.inArray(row.news_item_id,ids)>-1){//已存在
                $.app.method.tip('提示信息', '请不要选择重复的消息', 'error');
                return;
            }
            ids.push(row.news_item_id);
            var $cover = $('<div></div>').append('<img src="'+row.cover+'"/>');
            var $hover = $('<div class="hover-area"></div>')
                    .append('<a href="javascript:" itemId="'+row.news_item_id+'">删除</a>');

            $hover.find('a').click(function(){
                var id = $(this).attr('itemId');
                $(this).closest('li').remove();
                ids.splice($.inArray(id,ids),1);
            });

            var $li = $('<li></li>')
                    .append('<p>'+row.title+'</p>')
                    .append($cover)
                    .append($hover);
            $li.hover(function(){
                $(this).find('.hover-area').show();
            },function(){
                $(this).find('.hover-area').hide();
            });
            $ul.append($li);
        }
        this.get = function(){
            return ids.join(',');
        }
        this.isEmpty = function(){
            return !(ids.length>0);
        }
    }

    var msgNewsEdit = {
        form:'#msgNewsEditForm',
        newsItemTable:'#newsItemTable',
        addAction:"<{:U('MessageNews/itemAdd')}>",
        dialog:   '#globel-dialog-div',
        preview:new MsgNewsPreview('msgNewsPreview'),
        init:function(){
            var that = this;



            $(this.newsItemTable).datagrid({
                title:'单图文列表',
                url:"<{:U('MessageNews/itemList')}>",
                fitColumns:true,
//                fit:true,
                singleSelect:true,
                pagination:true,
                pageSize:10,
                pageList:[10,20,40,100],
                columns:[[
//                    {field:'news_item_id',checkbox:true},
                    {field:'title',width:'48%',title:'标题',sortable:true},
                    {field:'cover',title:'封面',align:'center',width:'30%',sortable:true,formatter:function(value,row,index){
                        return '<img style="margin:5px 5px 0" src="/wechat/timthumb.php?src=' + row.cover + '&w=100&h=75&q=90&zc=1&ct=1" />';
                    }},
                    {field:'opt_id',width:'25%',title:'操作',formatter:msgNewsEdit.operate}
                ]],
                toolbar:[
                    {
                        text:'添加',
                        iconCls:'icon-add',
                        handler:function(){
                            msgNewsEdit.add();
                        }
                    },
                    {
                        text:'刷新',
                        iconCls:'icon-reload',
                        handler:function(){$(newsItemTable).datagrid('reload');}
                    }
                ]
            });
            var str = $(this.form).find("input[name='info[item_ids]']").val();
            //加载已有的
            $.post("<{:U('MessageNews/findNewsItem')}>",{"ids":str.split(',')},function(res){
                res.forEach(function(val){
                    that.preview.addItem(val);
                });
            });
        },
        addToNews:function(id){
            var data = $(this.newsItemTable).datagrid('getData');
            var row;
            for(var i=0;i<data.rows.length;i++){
                if(data.rows[i].news_item_id == id){
                    row = data.rows[i];
                    break;
                }
            }
            if(row){
                this.preview.addItem(row);
            }
        },
        deleteItem:function(id){
            var rows = $(this.newsItemTable).datagrid('getSelections');
            if(!id && rows.length==0){//多选情况下
                $.app.method.tip('提示信息', '请选择要删除的行', 'error');
                return;
            }
            var that = this;
            $.messager.confirm('提示信息', '确定要删除吗？', function(result){
                if(!result) return false;
                var ids = [];
                if(!id){
                    rows.forEach(function(row){
                        ids.push(row.id);
                    });
                }else{
                    ids.push(id);
                }
                // console.log(ids);return;
                $.messager.progress({text:'处理中，请稍候...'});
                $.post('<{:U('MessageNews/itemDelete')}>',{"ids":ids},function(res){
                    $.messager.progress('close');
                    if(!res.status){
                        $.app.method.tip('提示信息', res.info, 'error');
                    }else{
                        $.app.method.tip('提示信息', res.info, 'info');
                        $(newsItemTable).datagrid('reload');
                    }
                }, 'json');
            });
        },
        itemEdit:function(id){
            if(typeof(id) !== 'number'){
                $.app.method.tip('提示信息', '未选择消息', 'error');
                return false;
            }
            var href = '<{:U('MessageNews/itemEdit')}>';
            href += href.indexOf('?') != -1 ? '&id='+id : '?id='+id;
            var that = this;
            $(that.dialog).dialog({
                title: '编辑单图文',
                iconCls: 'icons-application-application_edit',
                width: 1000,
                height: $(document).height(),
                cache: false,
                href: href,
                modal: true,
                collapsible: false,
                minimizable: false,
                resizable: false,
                maximizable: false,
                buttons:[{
                    text:'确定',
                    iconCls:'icon-ok',
                    handler: function(){
                        $(that.dialog).find('form').eq(0).form('submit', {
                            onSubmit: function(){
                                var isValid = $(this).form('validate');
                                if (!isValid) return false;

                                var action = '<{:U('MessageNews/itemEdit')}>';
                                action += action.indexOf('?') != -1 ? '&id='+id : '?id='+id;

                                $.messager.progress({text:'处理中，请稍候...'});
                                for( instance in CKEDITOR.instances ){ CKEDITOR.instances[instance].updateElement(); }//ajax提交表单触发ckeditor替换
                                $.post(action, $(this).serialize(), function(res){
                                    $.messager.progress('close');

                                    if(!res.status){
                                        $.app.method.tip('提示信息', res.info, 'error');
                                    }else{
                                        $.app.method.tip('提示信息', res.info, 'info');
                                        $(that.dialog).dialog('close');
                                        $(newsItemTable).datagrid('reload');
                                    }
                                }, 'json');

                                return false;
                            }
                        });
                    }
                },{
                    text:'取消',
                    iconCls:'icon-no',
                    handler: function(){
                        $(that.dialog).dialog('close');
                        $(that.datagrid).datagrid('unselectAll');
                    }
                }]
            });
        },
        operate: function(val){
            var btn = [];
            btn.push('<a href="javascript:;" onclick="msgNewsEdit.itemEdit('+val+')">编辑</a>');
            btn.push('<a href="javascript:;" onclick="msgNewsEdit.deleteItem('+val+')">删除</a>');
            btn.push('<a href="javascript:;" onclick="msgNewsEdit.addToNews('+val+')">选择</a>');
            return btn.join(' | ');
        },

        //添加
        add: function(){
            var that = this;
            $(that.dialog).dialog({
                title: '添加单图文消息',
                width: 1000,
                height: $(document).height(),
                cache: false,
                href: that.addAction,
                modal: true,
                collapsible: false,
                minimizable: false,
                resizable: false,
                maximizable: false,
                buttons:[{
                    text:'确定',
                    iconCls:'icon-ok',
                    handler: function(){
                        $(that.dialog).find('form').eq(0).form('submit', {
                            onSubmit: function(){
                                var isValid = $(this).form('validate');
                                if (!isValid) return false;

                                $.messager.progress({text:'处理中，请稍候...'});

                                for( instance in CKEDITOR.instances ){ CKEDITOR.instances[instance].updateElement(); }//ajax提交表单触发ckeditor替换
                                $.post('<{:U('MessageNews/itemAdd')}>', $(this).serialize(), function(res){
                                    $.messager.progress('close');

                                    if(!res.status){
                                        $.app.method.tip('提示信息', res.info, 'error');
                                    }else{
                                        $.app.method.tip('提示信息', res.info, 'info');
                                        $(that.dialog).dialog('close');
                                        $(newsItemTable).datagrid('reload');
                                    }
                                }, 'json');

                                return false;
                            }
                        });
                    }
                },{
                    text:'取消',
                    iconCls:'icon-no',
                    handler: function(){
                        $(that.dialog).dialog('close');
                    }
                }]
            });
        },
        closeTab:function(){
            var currentTab = $('#pagetabs').tabs('getSelected');
            var index = $('#pagetabs').tabs('getTabIndex',currentTab);
            $('#pagetabs').tabs('close',index);
        },
        save:function(id){
            var that = this;
            $(this.form).form('submit', {
                onSubmit: function(){
                    var isValid = $(this).form('validate');
                    if (!isValid) return false;
                    if(that.preview.isEmpty()){
                        $.app.method.tip('提示信息', '请添加消息', 'error');
                        return false;
                    }
                    $.messager.progress({text:'处理中，请稍候...'});
                    $(that.form).find("input[name='info[item_ids]']").val(that.preview.get());
                    var action = "<{:U('MessageNews/edit')}>";
                    action += action.indexOf('?') != -1 ? '&id='+id : '?id='+id;
                    $.post(action, $(this).serialize(), function(res){
                        $.messager.progress('close');
                        if(!res.status){
                            $.app.method.tip('提示信息', res.info, 'error');
                        }else{
                            $.app.method.tip('提示信息', res.info, 'info');
                            that.closeTab();
                            msgNewsListModule.refresh();
                        }
                    }, 'json');
                    return false;
                }
            });
        },
        cancel:function(){
            this.closeTab();
        }
    };
    msgNewsEdit.init();

</script>