<div id="msgnews-datagrid-toolbar" style="padding:1px;height:auto">
	<form style="border-bottom:1px solid #ddd;margin-bottom:1px;padding:5px">
		名称:
		<input type="text" name="search[name]" style="width:200px;"/>

		<a href="javascript:;" onclick="msgNewsListModule.search(this)" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
	</form>
	<div>
		<a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" onclick="msgNewsListModule.add()">添加消息</a>
		<a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'" onclick="msgNewsListModule.delete()">批量删除</a>
		<a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'" onclick="msgNewsListModule.refresh()">刷新</a>
	</div>
</div>
<div id="msgnews_datagrid"></div>
<script type="text/javascript">
var msgNewsListModule = {
    listAction:"<{:U('MessageNews/index')}>",
    addAction:'<{:U('MessageNews/add')}>',
    editAction:'<{:U('MessageNews/edit')}>',
	dialog:   '#globel-dialog-div',
	datagrid: '#msgnews_datagrid',
    tab:'#pagetabs',
	//时间格式化
	time: function(nS){
		return new Date(parseInt(nS) * 1000).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ").replace(/上午|下午/g, "");    
	},
	refresh:function(){
        $(this.datagrid).datagrid('reload');
    },
	//操作格式化
	operate: function(val){
		var btn = [];
		btn.push('<a href="javascript:;" onclick="msgNewsListModule.edit('+val+')">编辑</a>');
		btn.push('<a href="javascript:;" onclick="msgNewsListModule.delete('+val+')">删除</a>');
		return btn.join(' | ');
	},
	load:function(){
        var that = this;
        $(this.datagrid).datagrid({
            toolbar:"#msgnews-datagrid-toolbar",
            url:that.listAction,
            fitColumns:true,
            fit:true,
            pagination:true,
            rownumbers:true,
            pageSize:20,
            pageList:[20,40,60,100],
            columns:[[
                {field:'id',checkbox:true},
                {field:'cover',width:10,align:'center',title:'首个封面图片',formatter:function(value,row,index){
                    return '<img style="margin-top:5px" src="/wechat/timthumb.php?w=60&h=45&q=90&zc=1&ct=1&src='+row.cover+'"/>';
                }},
                {field:'name',width:20,title:'名称',sortable:true},
                {field:'create_time',title:'录入时间',width:15,sortable:true,formatter:function(value,row,index){
                    return msgNewsListModule.time(row.create_time);
                }},
                {field:'opt_id',width:20,title:'操作',formatter:msgNewsListModule.operate}
            ]]
        });
    },
	//搜索
	search: function(that){
		var queryParams = $(this.datagrid).datagrid('options').queryParams;
		$.each($(that).parent('form').serializeArray(), function() {
			queryParams[this['name']] = this['value'];
		});
		$(this.datagrid).datagrid({pageNumber: 1});
	},
	
	//添加
	add: function(){
		var that = this;
		$(that.tab).tabs('add',{
			title: '添加图文消息',
            closable:true,
			href: that.addAction
		});
	},
	
	//编辑
	edit: function(id){
        var that = this;
        var href = that.editAction;
        href += href.indexOf('?') != -1 ? '&id='+id : '?id='+id;
        $(that.tab).tabs('add',{
            title: '编辑图文消息',
            closable:true,
            href: href
        });
        $(this.datagrid).datagrid('unselectAll');
	},
	
	//批量删除
	delete: function(id){
		var rows = $(this.datagrid).datagrid('getSelections');
		if(!id && rows.length==0){//多选情况下
			$.app.method.tip('提示信息', '请选择要删除的行', 'error');
			return;
		}
		var that = this;
		$.messager.confirm('提示信息', '确定要删除吗？', function(result){
			if(!result) return false;
			var ids = [];
			if(!id){
				rows.forEach(function(row){
					ids.push(row.id);
				});
			}else{
				ids.push(id);
			}
			// console.log(ids);return;
			$.messager.progress({text:'处理中，请稍候...'});
			$.post('<{:U('MessageNews/delete')}>',{"ids":ids},function(res){
				$.messager.progress('close');
                if(res.cannotDel.length > 0){//存在不能删除的
                    var arr = new Array();
                    arr.push('<ul style="padding-left: 50px">');
                    $.each(res.cannotDel,function(index,val){
                        arr.push('<li>'+val['msg_name']+'被'+'消息包'+val['msg_bag_name']+'使用</li>');
                    });
                    arr.push('</ul>');
                    arr.push('<p style="padding-left: 40px;font-weight: bold">这些素材不能删除！</p>');
                    $.messager.alert('删除提示',arr.join(''),'info');
                }else{
                    $.app.method.tip('提示信息', '删除成功', 'info');
                }
                that.refresh();
			}, 'json');
		});
	}
};
msgNewsListModule.load();
</script>