<form>
	<table cellspacing="5" width="100%">
		<tr>
			<td width="90">名称：</td>
			<td><input class="easyui-validatebox" data-options="required:true" type="text" name="info[name]" style="width:220px" /></td>
		</tr>
		<tr>
			<td width="90">标题：</td>
			<td><input class="easyui-validatebox" data-options="required:true" type="text" name="info[title]" style="width:220px" /></td>
		</tr>
		<tr>
			<td width="90">封面：</td>
			<td><input class="easyui-validatebox" data-options="required:true" type="text" name="info[title]" style="width:220px" /></td>
		</tr>
		<tr>
			<td>简介：</td>
			<td><textarea class="easyui-validatebox" data-options="required:true,validType:{length:[0,500]}" name="info[content]" style="width:220px;height:60px;font-size:12px"></textarea></td>
		</tr>
		<tr>
			<td>内容：</td>
			<td><textarea class="easyui-validatebox" data-options="required:true,validType:{length:[0,500]}" name="info[content]" style="width:220px;height:60px;font-size:12px"></textarea></td>
		</tr>
		<tr>
			<td width="90">外链：</td>
			<td><input class="easyui-validatebox" data-options="required:true" type="text" name="info[jump_url]" style="width:220px" /></td>
		</tr>
	</table>
</form>
<div id="tab-tools">
	<a href="#" class="easyui-linkbutton" >保存</a>
	<a href="#" class="easyui-linkbutton" >取消</a>
</div>