<style type="text/css">
    .verticle-from{

    }
    .verticle-from input,.verticle-from textarea{
        width: 300px;
    }
    .verticle-from .verticle-from-line{
        padding: 5px;
    }
    .pageContent{
        overflow: auto;
        padding-bottom: 30px;
    }
    .pageFooter{
        position: absolute;
        bottom: 0;
        background: #F2F2F2;
        width: 100%
    }
    .pageFooter ul{
        float: right;
        margin: 0;
        padding: 2px 0;
    }
    .pageFooter ul li{
        float: left;
        list-style-type: none;
        padding: 0 5px;
    }
</style>
<div class="pageContent">
    <form class="verticle-from" id="msgNewsItemAddForm">
        <div style="padding: 10px">
            <div class="verticle-from-line">
                <label>标题</label>
                <div><input class="easyui-validatebox" data-options="required:true" value="<{$info.title}>" type="text" name="info[title]" style="" /></div>
            </div>
            <div class="verticle-from-line">
                <label>简介</label>
                <div><textarea class="easyui-validatebox" data-options="required:true" name="info[intro]" style=";height:60px;font-size:12px"><{$info.intro}></textarea></div>
            </div>
            <div class="verticle-from-line">
                <label>封面图片</label>
                <div>
                    <input type="hidden" name="info[cover]" value="<{$info.cover}>"/>
                    <div onclick="msgNewsItemAdd.selectImg(this)" style="height: 125px;width: 200px;border: 1px solid #ccc;border-radius: 5px;padding: 5px;">
                        <img style="height:100%;width:100%;cursor:pointer" src="/wechat/timthumb.php?src=<{$info.cover}>&amp;w=200&amp;h=125&amp;q=90&amp;zc=1&amp;ct=1">
                    </div>
                </div>
            </div>
            <div class="verticle-from-line">
                <label>内容</label>
                <div><textarea name="info[content]" id="msgNewsContent"><{$info.content}></textarea></div>
            </div>
            <div class="verticle-from-line">
                <label>外链</label>
                <div><input class="easyui-validatebox" data-options="" value="<{$info.jump_url}>" type="text" name="info[jump_url]" style="" /></div>
            </div>
        </div>
    </form>
</div>
<div class="pageFooter">
    <ul>
        <li>
            <a href="javascript:" class="easyui-linkbutton btn-save" iconCls="icon-save" onclick="msgNewsItemAdd.save()">保存</a>
        </li>
        <li>
            <a href="javascript:" class="easyui-linkbutton btn-cancel" iconCls="icon-no" onclick="msgNewsItemAdd.cancel()">取消</a>
        </li>
    </ul>
</div>
<script type="application/javascript">
    var msgNewsItemAdd = {
        form:'#msgNewsItemAddForm',
        content:"msgNewsContent",
        kcfinderUrl:'/wechat/Public/static/js/kcfinder/browse.php',
        init:function(){
            CKEDITOR.replace(this.content,{
                height:'200',
                width:'575'
            });
        },
        closeTab:function(){
            var currentTab = $('#pagetabs').tabs('getSelected');
            var index = $('#pagetabs').tabs('getTabIndex',currentTab);
            $('#pagetabs').tabs('close',index);
        },
        //刷新
        refresh: function(){
            $(this.datagrid).datagrid('reload');
        },
        selectImg:function(div){
            var that = this;
            window.KCFinder = {
                callBack: function(url) {
                    $(that.form).find("input[name='info[cover]']").val(url);
                    window.KCFinder = null;
                    $(div).html('<div style="margin:5px">Loading...</div>');
                    var img = new Image();
                    img.src = url;
                    img.onload = function() {
                        $(div).html('<img style="height:100%;width:100%;cursor:pointer" src="/wechat/timthumb.php?src=' + url + '&w=200&h=125&q=90&zc=1&ct=1" />');
//                        var img = document.getElementById('img');
//                        img.style.visibility = "visible";
                    }
                }
            };
            window.open(that.kcfinderUrl,
                    'kcfinder_image', 'status=0, toolbar=0, location=0, menubar=0, ' +
                    'directories=0, resizable=1, scrollbars=0, width=800, height=600'
            );
        }
    };
    msgNewsItemAdd.init();
</script>