<h3><{$info.name}></h3>
<a href="<{$info.msg_music.file_path}>"    class="player"
   style="display:block;width:500px;height:26px;"
   id="music_player">
</a>
<script src="__STATIC__/plugins/flowplayer/flowplayer-3.2.13.min.js"></script>
<script type="application/javascript">
    flowplayer("music_player", "__STATIC__/plugins/flowplayer/flowplayer-3.2.18.swf", {
        plugins: {
            audio: {
                url: "__STATIC__/plugins/flowplayer/flowplayer.audio-3.2.11.swf"
            },
            controls: {

                // location of the controlbar plugin
                url: '__STATIC__/plugins/flowplayer/flowplayer.controls-3.2.16.swf',
                all: false,
                play: true,
                scrubber: true,
                time:true,
                volume:true,
                autoHide: {
                    enabled:false
                },
                // tooltips (since 3.1)
                tooltips: {
                    buttons: true,
                    fullscreen: 'Enter fullscreen mode'
                }
            }
        }
    });
</script>

