<style type="text/css">
.pool_left{
    float: left;
    width: 650px;
    margin-bottom: 10px;
}
    .pool_right{
        width: 650px;
        clear: both;
    }
</style>

<div class="easyui-panel" data-options="{header:'#msgpool-add-tab-tools',fit:true}">
    <form id="msgPoolAddBagForm" style="padding: 5px">
        <div class="pool_left">
            <table cellspacing="5" width="100%">
                <tr>
                    <td width="80">消息池类别：</td>
                    <td><input class="easyui-combotree" data-options="
                            url:'<{:U('Category/public_categoryTree')}>'
                            ,queryParams:{type:3}
                            " type="text" name="cat_id" style="width:230px;height:24px" /></td>
                </tr>
                <tr>
                    <td width="90">名称：</td>
                    <td><input class="easyui-validatebox" data-options="required:true" type="text" name="name" style="width:220px" /></td>
                </tr><tr>
                    <td width="90">触发条件：</td>
                    <td>
                        <input type="text" name="fire_event"/>
                    </td>
                </tr>
                <tr>
                    <td>备注：</td>
                    <td><textarea class="easyui-validatebox" name="remarks" style="width:220px;height:60px;font-size:12px"></textarea></td>
                </tr>
            </table>
            <!--消息池匹配规则-->
            <table id="msgPoolRuleTable"></table>
        </div>
        <div class="pool_right">
            <!--消息池中含有的消息包-->
            <table id="msgPoolBagTable"></table>

        </div>

    </form>
    <div id="msgpool-add-tab-tools" style="padding: 5px;text-align: right;background: #FAFAFA">
        <label style="float: left;line-height: 26px;color: #555"><span class="icon-tabicons_11_03">&nbsp;</span>拖拽可以调整消息的顺序</label>
        <a href="javascript:" class="easyui-linkbutton btn-save" iconCls="icon-save" onclick="msgPoolAddModule.save()">保存</a>
        <a href="javascript:" class="easyui-linkbutton btn-cancel" iconCls="icon-no" onclick="msgPoolAddModule.cancel()">取消</a>
    </div>
</div>

<script type="application/javascript">
    var msgPoolAddModule = {
        form:'#msgPoolAddBagForm',
        init:function(){
            $(this.form).find("input[name='fire_event']").combobox({
                url:"<{:U('MessagePool/fireEvents')}>",
                width:'228px',
                editable:false,
                required:true,
                valueField:'event',
                textField:'name'
            });
        },

        cancel:function(){
            this.closeTab();
        },
        closeTab:function(){
            var currentTab = $('#pagetabs').tabs('getSelected');
            var index = $('#pagetabs').tabs('getTabIndex',currentTab);
            $('#pagetabs').tabs('close',index);
        },
        save:function(){
            var that = this;
            $(that.form).form('submit', {
                onSubmit: function(){
                    var isValid = $(this).form('validate');
                    if (!isValid) return false;


                    var data = {};
                    $.each($(this).serializeArray(),function(index,val){
                        data[val.name] = val.value;
                    });

                    var ruleRows = $(msgPoolAddRule.datagrid).datagrid('getRows');

                    if(ruleRows.length==0){
                        $.app.method.tip('提示信息', '请添加规则', 'error');
                        return false;
                    }

                    var bagRows = $(msgPoolAddBag.datagrid).datagrid('getRows');

                    if(bagRows.length==0){
                        $.app.method.tip('提示信息', '请添加消息包', 'error');
                        return false;
                    }
                    data['rule_json'] = ruleRows;
                    data['msg_bag_json'] = bagRows;
                    $.messager.progress({text:'处理中，请稍候...'});
                    $.post("<{:U('MessagePool/add')}>", data, function(res){
                        $.messager.progress('close');

                        if(!res.status){
                            $.app.method.tip('提示信息', res.info, 'error');
                        }else{
                            $.app.method.tip('提示信息', res.info, 'info');
                            that.closeTab();
                            msgPoolListModule.refresh();
                        }
                    }, 'json');

                    return false;
                }
            });
        }
    }
    var msgPoolAddRule = {
        editRow:undefined,
        datagrid:'#msgPoolRuleTable',
        dialog:   '#globel-dialog-div',
        isEditing: function () {
            return this.editRow != undefined;
        },
        endEditing:function(){
            return this.editRow == undefined;
        },
        ruleAlias:<{:json_encode(C('OPT_OPTIONS'))}>,
        init:function(){
            var that = this;
            $(that.datagrid).datagrid({
                title:'自定义标签规则',
//                fit:true,
                fitColumns:true,
                data:[],
                toolbar:[
                    {
                        text:'添加规则',
                        iconCls:'icon-add',
                        handler:function(){
                            that.addRule();
                        }
                    },
                    {
                        text:'移除',
                        iconCls:'icon-remove',
                        handler:function(){
                            var rows = $(that.datagrid).datagrid('getSelections');
                            $.each(rows,function(index,row){
                                var index = $(that.datagrid).datagrid('getRowIndex',row);
                                $(that.datagrid).datagrid('deleteRow',index);
                                if(that.editRow==index){//如果移除的是正在编辑的要处理
                                    that.editRow = undefined;
                                }
                            });
                        }
                    }
                ],
                columns:[[
                    {
                        field:'uuid',
                        checkbox:true
                    },
                    {
                        field:'tag',
                        title:'标签名',
                        width:'30%'
                    },
                    {
                        field : 'opt',
                        title : '操作符',
                        width:'20%',
                        formatter:function(value,row,index){
                            return that.ruleAlias[row.opt];
                        }
                    },
                    {
                        field:'val',
                        width:'45%',
                        title:'标签值'
                    }
                ]]
            });
        },

        refresh: function(){
            $(this.datagrid).datagrid('reload');
        },
        addRule:function(){
            var that = this;
            $(that.dialog).dialog({
                title: '添加规则',
                iconCls: 'icon-tabicons_02_15',
                width: 390,
                height: 400,
                cache: false,
                href: "<{:U('MessagePool/addRule')}>",
                modal: true,
                collapsible: false,
                minimizable: false,
                resizable: false,
                maximizable: false,
                onLoad:function(){
                    $(that.dialog).find('form').eq(0).find("input[name='opt']").combobox({
                        editable:false,
                        url:"<{:U('MessagePool/optOptions')}>",
                        valueField:'opt',
                        textField:'opt_name',
                        required:true
                    });
                },
                buttons:[{
                    text:'确定',
                    iconCls:'icon-ok',
                    handler: function(){
                        $(that.dialog).find('form').eq(0).form('submit', {
                            onSubmit: function(){
                                var isValid = $(this).form('validate');
                                if (!isValid) return false;

                                var data = $(this).serializeArray();
                                var row = {
                                    uuid:new Date().getTime()+'_'+Math.round(Math.random()*10000)
                                };
                                $.each(data,function(index,val){
                                    row[val.name] = val.value;
                                });
                                $(that.datagrid).datagrid('appendRow',row);
                                $(that.dialog).dialog('close');
                                return false;
                            }
                        });
                    }
                },{
                    text:'取消',
                    iconCls:'icon-no',
                    handler: function(){
                        $(that.dialog).dialog('close');
                    }
                }]
            });
        }
    };
    var msgPoolAddBag = {
        editRow:undefined,
        datagrid:'#msgPoolBagTable',
        dialog:   '#globel-dialog-div',
        isEditing: function () {
            return this.editRow != undefined;
        },
        endEditing:function(){
            return this.editRow == undefined;
        },
        init:function(){
            var that = this;
            $(that.datagrid).datagrid({
                title:'消息包',
//                fit:true,
                fitColumns:true,
                data:[],
                onLoadSuccess:function(){

                },
                onAfterEdit:function(){
                    that.editRow = undefined;

                },
               toolbar:[
                   {
                       text:'添加消息包',
                       iconCls:'icon-add',
                       handler:function(){
                           that.addMsgBag();
                       }
                   },
                   {
                       text:'移除',
                       iconCls:'icon-remove',
                       handler:function(){
                           var rows = $(that.datagrid).datagrid('getSelections');
                           $.each(rows,function(index,row){
                               var index = $(that.datagrid).datagrid('getRowIndex',row);
                               $(that.datagrid).datagrid('deleteRow',index);
                               if(that.editRow==index){//如果移除的是正在编辑的要处理
                                   that.editRow = undefined;
                               }
                           });
                       }
                   }
               ],
                columns:[[
                    {
                        field:'uuid',
                        checkbox:true
                    },
                    {
                        field : 'msg_bag_id',
                        title : '消息包',
                        width:'40%',
                        formatter:function(value,row,index){
                            //远程获取名称
                            var name;
                            $.ajax({
                                url:"<{:U('MessageBag/getMsgBag')}>",
                                type : "POST",
                                dataType : "json",
                                data:{id:row.msg_bag_id,fields:['name']},
                                async:false,
                                success:function(res){
                                    name = res.name;
                                }
                            });
                            return name;
                        },
                        editor:{
                            type:'combogrid',
                            options:{
                                required:true,
                                panelWidth : 450,
                                panelHeight:308,
                                pagination : true,// 是否分页
                                pageSize:10,
                                idField : 'msg_bag_id',
                                valueField : 'msg_bag_id',
                                textField : 'name',
                                rownumbers:true,
                                url:"<{:U('MessageBag/index')}>",
                                columns:[[
                                    {
                                        field : 'name',
                                        title : '消息包名称',
                                        width:'90%'
                                    }
                                ]]
                            }
                        }
                    },
                    {
                        field:'prob',
                        title:'概率',
                        width:'20%',
                        editor:{
                            type:'numberspinner',
                            options:{
                                min:0,
                                max:1,
                                precision:2,
                                value:0,
                                increment:0.01,
                                required:true
                            }
                        }
                    },
                    {
                        field:'freq',
                        title:'频率',
                        width:'20%'
                    }
                ]]
            });
        },
        addMsgBag:function(){
            var that = this;
            if(that.isEditing()){//正在编辑
//                               $(that.datagrid).datagrid('acceptChanges');
                $.app.method.tip('提示信息', '请先保存正在编辑的数据', 'error');
                return;
            }

            var rows = $(that.datagrid).datagrid('getRows');
            that.editRow = rows.length;
            //插入新的一行
            $(that.datagrid).datagrid('appendRow',{
                uuid:new Date().getTime()+'_'+Math.round(Math.random()*10000),//保证消息唯一，可能存在同一个消息
                prob:0,
                freq:0
            });
            $(that.datagrid).datagrid('beginEdit',that.editRow);
        },
        refresh: function(){
            $(this.datagrid).datagrid('reload');
        }
    };
    $(function () {
        msgPoolAddRule.init();
        msgPoolAddBag.init();
        msgPoolAddModule.init();
    });

</script>