<style type="text/css">
.pool_left{
    float: left;
    width: 650px;
    margin-bottom: 10px;
}
    .pool_right{
        width: 650px;
        clear: both;
    }
</style>

<div class="easyui-panel" data-options="{header:'#msgpool-edit-tab-tools',fit:true}">
    <form id="msgPoolEditBagForm" style="padding: 5px">
        <input type="hidden" name="pool_id" value="<{$info.pool_id}>"/>
        <div class="pool_left">
            <table cellspacing="5" width="100%">
                <tr>
                    <td width="90">名称：</td>
                    <td><input class="easyui-validatebox" data-options="required:true" type="text" value="<{$info.name}>" name="name" style="width:220px" /></td>
                </tr>
                <tr>
                    <td>备注：</td>
                    <td><textarea class="easyui-validatebox" name="remarks" style="width:220px;height:60px;font-size:12px"><{$info.remarks}></textarea></td>
                </tr>
            </table>
            <!--消息池匹配规则-->
            <table id="msgPoolRuleEditTable"></table>
        </div>
        <div class="pool_right">
            <!--消息池中含有的消息包-->
            <table id="msgPoolBagEditTable"></table>

        </div>

    </form>
    <div id="msgpool-edit-tab-tools" style="padding: 5px;text-align: right;background: #FAFAFA">
        <label style="float: left;line-height: 26px;color: #555"><span class="icon-tabicons_11_03">&nbsp;</span>拖拽可以调整消息的顺序</label>
        <a href="javascript:" class="easyui-linkbutton btn-save" iconCls="icon-save" onclick="msgPoolEditModule.save()">保存</a>
        <a href="javascript:" class="easyui-linkbutton btn-cancel" iconCls="icon-no" onclick="msgPoolEditModule.cancel()">取消</a>
    </div>
</div>

<script type="application/javascript">
    var msgPoolEditModule = {
        form:'#msgPoolEditBagForm',
        cancel:function(){
            this.closeTab();
        },
        closeTab:function(){
            var currentTab = $('#pagetabs').tabs('getSelected');
            var index = $('#pagetabs').tabs('getTabIndex',currentTab);
            $('#pagetabs').tabs('close',index);
        },
        save:function(){
            var that = this;
            $(that.form).form('submit', {
                onSubmit: function(){
                    var isValid = $(this).form('validate');
                    if (!isValid) return false;

                    rows = $(this).serializeArray();

                    data = {};
                    $.each(rows,function(index,val){
                        data[val.name] = val.value;
                    });


                    var bagRows = $(msgPoolEditBag.datagrid).datagrid('getRows');
                    var ruleRows = $(msgPoolEditRule.datagrid).datagrid('getRows');

                    data['rule_json'] = ruleRows;
                    data['msg_bag_json'] = bagRows;
                    $.messager.progress({text:'处理中，请稍候...'});
                    $.post("<{:U('MessagePool/edit?id=0')}>", data, function(res){
                        $.messager.progress('close');

                        if(!res.status){
                            $.app.method.tip('提示信息', res.info, 'error');
                        }else{
                            $.app.method.tip('提示信息', res.info, 'info');
                            that.closeTab();
                            msgPoolListModule.refresh();
                        }
                    }, 'json');

                    return false;
                }
            });
        }
    }
    var msgPoolEditRule = {
        editRow:undefined,
        datagrid:'#msgPoolRuleEditTable',
        dialog:   '#globel-dialog-div',
        ruleAlias:{'EQ':'相等','NEQ':'不相等','GT':'大于','LT':'小于'},
        init:function(){
            var that = this;
            $(that.datagrid).datagrid({
                title:'规则列表',
                fitColumns:true,
                data:<{$info.rule_json}>,
                toolbar:[
                    {
                        text:'添加规则',
                        iconCls:'icon-add',
                        handler:function(){
                            that.addRule();
                        }
                    },
                    {
                        text:'移除',
                        iconCls:'icon-remove',
                        handler:function(){
                            var rows = $(that.datagrid).datagrid('getSelections');
                            $.each(rows,function(index,row){
                                var index = $(that.datagrid).datagrid('getRowIndex',row);
                                $(that.datagrid).datagrid('deleteRow',index);
                                if(that.editRow==index){//如果移除的是正在编辑的要处理
                                    that.editRow = undefined;
                                }
                            });
                        }
                    }
                ],
                columns:[[
                    {
                        field:'uuid',
                        checkbox:true
                    },
                    {
                        field:'tag',
                        title:'标签名',
                        width:'30%'
                    },
                    {
                        field : 'opt',
                        title : '操作符',
                        width:'20%',
                        formatter:function(value,row,index){
                            return that.ruleAlias[row.opt];
                        }
                    },
                    {
                        field:'val',
                        width:'45%',
                        title:'标签值'
                    }
                ]]
            });
        },
        refresh: function(){
            $(this.datagrid).datagrid('reload');
        },
        addRule:function(){
            var that = this;
            $(that.dialog).dialog({
                title: '添加规则',
                iconCls: 'icon-tabicons_02_15',
                width: 390,
                height: 400,
                cache: false,
                href: "<{:U('MessagePool/addRule')}>",
                modal: true,
                collapsible: false,
                minimizable: false,
                resizable: false,
                maximizable: false,
                onLoad:function(){
                    $(that.dialog).find('form').eq(0).find("input[name='opt']").combobox({
                        data:[{opt:'EQ',opt_name:'等于'}],
                        valueField:'opt',
                        textField:'opt_name',
                        required:true
                    });
                },
                buttons:[{
                    text:'确定',
                    iconCls:'icon-ok',
                    handler: function(){
                        $(that.dialog).find('form').eq(0).form('submit', {
                            onSubmit: function(){
                                var isValid = $(this).form('validate');
                                if (!isValid) return false;

                                var data = $(this).serializeArray();
                                var row = {
                                    uuid:new Date().getTime()+'_'+Math.round(Math.random()*10000)
                                };
                                $.each(data,function(index,val){
                                    row[val.name] = val.value;
                                });
                                $(that.datagrid).datagrid('appendRow',row);
                                $(that.dialog).dialog('close');
                                return false;
                            }
                        });
                    }
                },{
                    text:'取消',
                    iconCls:'icon-no',
                    handler: function(){
                        $(that.dialog).dialog('close');
                    }
                }]
            });
        }
    };
    var msgPoolEditBag = {
        editRow:undefined,
        datagrid:'#msgPoolBagEditTable',
        dialog:   '#globel-dialog-div',
        init:function(){
            var that = this;
            $(that.datagrid).datagrid({
                title:'消息包列表',
                fitColumns:true,
                data:<{$info.msg_bag_json}>,
               toolbar:[
                   {
                       text:'添加消息包',
                       iconCls:'icon-add',
                       handler:function(){
                           that.addMsgBag();
                       }
                   },
                   {
                       text:'移除',
                       iconCls:'icon-remove',
                       handler:function(){
                           var rows = $(that.datagrid).datagrid('getSelections');
                           $.each(rows,function(index,row){
                               var index = $(that.datagrid).datagrid('getRowIndex',row);
                               $(that.datagrid).datagrid('deleteRow',index);
                               if(that.editRow==index){//如果移除的是正在编辑的要处理
                                   that.editRow = undefined;
                               }
                           });
                       }
                   }
               ],
                columns:[[
                    {
                        field:'uuid',
                        checkbox:true
                    },
                    {
                        field : 'msg_bag_id',
                        title : '消息包',
                        width:'40%',
                        formatter:function(value,row,index){
                            //远程获取名称
                            var name;
                            $.ajax({
                                url:"<{:U('MessageBag/getMsgBag')}>",
                                type : "POST",
                                dataType : "json",
                                data:{id:row.msg_bag_id,fields:['name']},
                                async:false,
                                success:function(res){
                                    name = res.name;
                                }
                            });
                            return name;
                        }
                    },
                    {
                        field:'prob',
                        title:'概率',
                        width:'20%'
                    },
                    {
                        field:'freq',
                        title:'频率',
                        width:'20%'
                    }
                ]]
            });
        },
        addMsgBag:function(){
            var that = this;
            $(that.dialog).dialog({
                title: '添加消息包',
                iconCls: 'icon-tabicons_02_15',
                width: 390,
                height: 200,
                cache: false,
                href: "<{:U('MessagePool/addMsgBag')}>",
                modal: true,
                collapsible: false,
                minimizable: false,
                resizable: false,
                maximizable: false,
                onLoad:function(){
                    $(that.dialog).find('form').eq(0).find("input[name='msg_bag_id']").combogrid({
                        panelWidth:450,
                        idField:'msg_bag_id',
                        textField:'name',
                        url:"<{:U('MessageBag/index')}>",
                        rownumbers:true,
                        pagination : true,// 是否分页
                        pageSize:10,
                        columns:[[
                            {field:'name',title:'消息包名称',width:'90%'}
                        ]]
                    });
                },
                buttons:[{
                    text:'确定',
                    iconCls:'icon-ok',
                    handler: function(){
                        $(that.dialog).find('form').eq(0).form('submit', {
                            onSubmit: function(){
                                var isValid = $(this).form('validate');
                                if (!isValid) return false;

                                var data = $(this).serializeArray();
                                var row = {
                                    uuid:new Date().getTime()+'_'+Math.round(Math.random()*10000)
                                };
                                $.each(data,function(index,val){
                                    row[val.name] = val.value;
                                });
                                //判断消息包是否重复

                                var rows = $(that.datagrid).datagrid('getRows');
                                for(var i=0;i<rows.length;i++){
                                    if(rows[i].msg_bag_id==row.msg_bag_id){
                                        $.app.method.tip('提示信息', '该消息包已选择', 'error');
                                        return false;
                                    }
                                }

                                $(that.datagrid).datagrid('appendRow',row);
                                $(that.dialog).dialog('close');
                                return false;
                            }
                        });
                    }
                },{
                    text:'取消',
                    iconCls:'icon-no',
                    handler: function(){
                        $(that.dialog).dialog('close');
                    }
                }]
            });
        },
        refresh: function(){
            $(this.datagrid).datagrid('reload');
        }
    };
    $(function () {
        msgPoolEditRule.init();
        msgPoolEditBag.init();
    });

</script>