<div id="msgpool-datagrid-toolbar" style="padding:1px;height:auto">
    <form style="border-bottom:1px solid #ddd;margin-bottom:1px;padding:5px">
        名称:
        <input type="text" name="search[name]" style="width:200px;"/>
        <a href="javascript:;" onclick="msgPoolListModule.search(this)" class="easyui-linkbutton" data-options="iconCls:'icon-search'">搜索</a>
    </form>
    <div>
        <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" onclick="msgPoolListModule.add()">添加</a>
        <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'" onclick="msgPoolListModule.delete()">批量删除</a>
        <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'" onclick="msgPoolListModule.refresh()">刷新</a>
    </div>
</div>
<div id="msgPoolListModule">


</div>
<script type="application/javascript">
    var msgPoolListModule = {
        datagrid : '#msgPoolListModule',
        dialog:   '#globel-dialog-div',
        addAction:"<{:U('MessagePool/add')}>",
        listAction:"<{:U('MessagePool/index')}>",
        editAction:"<{:U('MessagePool/edit')}>",
        deleteAction:"<{:U('MessagePool/delete')}>",
        tab:'#pagetabs',
        load : function(){
            var that = this;
            $(this.datagrid).datagrid({
                toolbar:"#msgpool-datagrid-toolbar",
                url:that.listAction,
                fitColumns:true,
                fit:true,
                pagination:true,
                rownumbers:true,
                pageSize:20,
                pageList:[20,40,60,100],
                columns:[[
                    {field:'pool_id',checkbox:true},
                    {field:'name',width:50,title:'名称',sortable:true},
                    {field:'remarks',width:100,title:'备注',sortable:true},
                    {field:'create_time',title:'录入时间',width:22,sortable:true,formatter:function(value,row,index){
                        return msgPoolListModule.time(row.create_time);
                    }},
                    {field:'opt_id',width:30,title:'操作',formatter:msgPoolListModule.operate}
                ]]
            });
        },
        time: function(nS){
            return new Date(parseInt(nS) * 1000).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ").replace(/上午|下午/g, "");
        },
        //刷新
        refresh: function(){
            $(this.datagrid).datagrid('reload');
        },
        //搜索
        search: function(that){
            var queryParams = $(this.datagrid).datagrid('options').queryParams;
            $.each($(that).parent('form').serializeArray(), function() {
                queryParams[this['name']] = this['value'];
            });
            $(this.datagrid).datagrid({pageNumber: 1});
        },
        //操作格式化
        operate: function(val){
            var btn = [];
            btn.push('<a href="javascript:;" onclick="msgPoolListModule.edit('+val+')">编辑</a>');
            btn.push('<a href="javascript:;" onclick="msgPoolListModule.delete('+val+')">删除</a>');
            return btn.join(' | ');
        },
        //批量删除
        delete: function(id){
            var rows = $(this.datagrid).datagrid('getSelections');
            if(!id && rows.length==0){//多选情况下
                $.app.method.tip('提示信息', '请选择要删除的行', 'error');
                return;
            }
            var that = this;
            $.messager.confirm('提示信息', '确定要删除吗？', function(result){
                if(!result) return false;
                var ids = [];
                if(!id){
                    rows.forEach(function(row){
                        ids.push(row.msg_bag_id);
                    });
                }else{
                    ids.push(id);
                }
                // console.log(ids);return;
                $.messager.progress({text:'处理中，请稍候...'});
                $.post(that.deleteAction,{"ids":ids},function(res){
                    $.messager.progress('close');
                    if(!res.status){
                        $.app.method.tip('提示信息', res.info, 'error');
                    }else{
                        $.app.method.tip('提示信息', res.info, 'info');
                        that.refresh();
                    }
                }, 'json');
            });
        },
        add:function(){
            var that = this;
            $(that.tab).tabs('add',{
                title: '添加消息池',
                closable:true,
                href: that.addAction
            });
        },
        //编辑
        edit: function(id){
            var that = this;
            var href = "<{:U('MessagePool/edit')}>";
            href += href.indexOf('?') != -1 ? '&id='+id : '?id='+id;
            $(that.tab).tabs('add',{
                title: '编辑消息包',
                closable:true,
                href: href
            });
        }
    };
    msgPoolListModule.load();
</script>